<div class="col-md-3 nav-left">
    <div class="menu-left">
        <div class="item-first">
            <a href="#">Quan ly nguoi dung</a>
        </div>
        <div class="children">
            <div class="item">
                <a href="#">Danh sach nguoi dung</a>
            </div>
            <div class="item">
                <a href="#">Danh sach nguoi dung</a>
            </div>
            <div class="item">
                <a href="#">Danh sach nguoi dung</a>
            </div>
            <div class="item">
                <a href="#">Danh sach nguoi dung</a>
            </div>
            <div class="item">
                <a href="#">Danh sach nguoi dung</a>
            </div>
        </div>
    </div>

    <div class="menu-left">
        <div class="item-first">
            <a href="#">Quan ly nguoi dung</a>
        </div>
        <div class="children">
            <div class="item">
                <a href="#">Danh sach nguoi dung</a>
            </div>
            <div class="item">
                <a href="#">Danh sach nguoi dung</a>
            </div>
            <div class="item">
                <a href="#">Danh sach nguoi dung</a>
            </div>
            <div class="item">
                <a href="#">Danh sach nguoi dung</a>
            </div>
            <div class="item">
                <a href="#">Danh sach nguoi dung</a>
            </div>
        </div>
    </div>
</div>